<footer class="flexrow">
  <div class="powers">
    <div class="footerHeader">
      <h3>
        {{localize "KNW.Organization.Powers.Label"}}
        {{#if editable}}
          <a data-action="editText" data-field-name="powers"><i class="fas fa-edit"></i></a>
        {{/if}}
      </h3>
    </div>
    <div class="footerBody">
      {{{enrichedPowers}}}
    </div>
  </div>
  <div class="features">
    <div class="footerHeader">
      <h3>
        {{localize "KNW.Organization.Features.Label"}}
        {{#if editable}}
          <a data-action="editText" data-field-name="features"><i class="fas fa-edit"></i></a>
        {{/if}}
      </h3>
    </div>
    <div class="footerBody">
      {{{enrichedFeatures}}}
    </div>
  </div>
</footer>
