.actor.organization {
  --knw-border: 2px solid var(--color-border);
  --labelFont: 'Modesto Condensed', 'Palatino Linotype', serif;
  --alternate-alpha: 0.1;
  .theme-dark & {
    --alternate-alpha: 0.2;
  }
  .label,
  h2 {
    font-family: var(--labelFont);
  }
  header.header {
    flex: 0 0 104px;
    padding-bottom: 2px;
    border-bottom: var(--knw-border);
    margin-bottom: 2px;
    input[type='text'] {
      &:not(:hover) {
        background-color: initial;
      }
      font-family: var(--labelFont);
      border: none;
    }
    img.profile {
      flex: 0 0 100px;
      max-width: 100px;
      height: 100px;
      border: none;
    }
    .metadata {
      padding: 0.5rem 1rem 0.5rem 0;
      height: 100%;
      gap: 1px;
      .name {
        flex: 3;
        font-size: 32px;
      }
      .orgDetails {
        flex: 1;
        font-size: 24px;
        gap: 2px;
      }
    }
  }
  section.body {
    flex: 0 0 250px;
    padding-top: 2px;
    --body-row-height: 50px;
    h2 {
      border: none;
      text-align: center;
      font-size: 36px;
    }
    .editScore {
      flex: 0 0 25px;
      font-size: 20px;
    }
    .value {
      text-align: center;
      font-size: 24px;
      line-height: 50px;
      font-family: var(--labelFont);
    }
    .label {
      text-align: center;
      font-size: 28px;
      line-height: var(--body-row-height);
    }
    .skills {
      flex: 0 0 210px;
      border-right: var(--knw-border);
      div.skill:nth-child(even) {
        background-color: rgba(0, 0, 0, var(--alternate-alpha));
      }
      .value {
        flex: 0 0 60px;
      }
      .label {
        border-left: var(--knw-border);
        &.rollable {
          cursor: pointer;
        }
      }
    }
    .powerPool {
      height: 100%;
      flex: 1;
      .powerPoolList {
        height: calc(100% - 40px - 0.5rem - 0.5em);
        padding: 0;
        li {
          padding: 0 3px;
          font-size: 16px;
          line-height: 25px;
          &:nth-child(odd) {
            background-color: rgba(0, 0, 0, var(--alternate-alpha));
          }
        }
        .name {
          flex: 1;
          overflow-wrap: anywhere;
          border-right: var(--knw-border);
        }
        .powerDie {
          flex: 0 0 27px;
          text-align: right;
          padding: 0 4px 0 2px;
          &.rollable {
            cursor: pointer;
          }
        }
        .edit {
          flex: 0 0 20px;
          a {
            padding-left: 4px;
          }
        }
      }
    }
    .defenses {
      border-left: var(--knw-border);
      flex: 0 0 320px;
      div.defense:nth-child(even) {
        background-color: rgba(0, 0, 0, var(--alternate-alpha));
      }
      .label {
        border-right: var(--knw-border);
      }
      .value {
        flex: 0 0 60px;
      }
      input, select {
        border: none;
        margin: 0 5px;
        &:not(:hover) {
          background-color: initial;
        }
      }
      .powerDie,
      .level {
        flex: 0 0 110px;
        height: 100%;
        border: none;
      }
      .powerDie {
        max-height: var(--body-row-height);
        padding-right: 16px;
      }
      .level {
        font-size: 20px;
        font-family: var(--labelFont);
        text-align: center;
      }
    }
  }
  footer {
    flex: 1;
    height: calc(100% - 354px);
    border-top: var(--knw-border);
    .powers,
    .features {
      height: 100%;
      padding: 2px 5px;
      .footerHeader {
        h3 {
          font-family: var(--labelFont);
          font-size: var(--font-size-32);
          border-color: var(--color-border);
          a[data-action] {
            font-size: var(--font-size-24);
            float: right;
          }
        }
      }
      .footerBody {
        height: calc(100% - 35px);
      }
    }
    .features {
      border-left: var(--knw-border);
    }
  }
}

.organization.orgDev {
  --labelFont: 'Modesto Condensed', 'Palatino Linotype', serif;
  h3 {
    font-family: var(--labelFont);
    font-size: 2.25em;
  }
  .stat {
    h4 {
      font-family: var(--labelFont);
      font-size: 1.75em;
    }
    input[type='number'] {
      max-width: 35px;
      text-align: right;
    }
    .statHeader {
      .statSpec {
        text-align: right;
      }
    }
    .dividers {
      padding-right: 34px;
      margin-top: 3px;
      text-align: center;
    }
    .statRange {
      padding-left: 5px;
      gap: 3px;
      .range-value {
        flex: 0 0 30px;
        text-align: center;
        &.invalid {
          border-radius: 4px;
          border-style: solid;
          border-width: thin;
          border-color: indianred;
        }
      }
    }
  }
}

.actor.warfare {
  .window-content {
    padding: 0;
    overflow-y: hidden;
    gap: 0;
  }
  --knw-border: 2px groove var(--color-border);
  --labelFont: 'Modesto Condensed', 'Palatino Linotype', serif;
  .label {
    font-family: var(--labelFont);
    font-weight: 700;
  }
  input, select {
    &:not(:hover) {
      background-color: initial;
    }
    border: none;
  }
  input[type='number'] {
    font-family: var(--labelFont);
  }
  [data-application-part="header"] {
    flex: 0 0 100px;
    .type {
      flex: 0 0 30px;
      margin: 0 5px;
      .typeImage {
        border: none;
        margin: 40px 0;
      }
    }
    .description {
      flex: 1;
      padding: 0 3px;
      border-left: var(--knw-border);
      border-right: var(--knw-border);
      .id {
        border-bottom: var(--knw-border);
        margin-bottom: 2px;
        padding-bottom: 2px;
        img.profile {
          max-width: 60px;
          height: 60px;
          border: none;
        }
        input {
          font-size: 32px;
          font-family: var(--labelFont);
        }
      }
      .tags {
        .commander {
          .label {
            flex: 0 0;
            line-height: 20px;
            padding: 0 3px;
            font-size: 18px;
          }
          .name {
            border-bottom: 1px solid black;
            line-height: 20px;
            padding-left: 5px;
          }
        }
        .modifiers {
          select {
            border: none;
            flex: 0 0 80px;
          }
          input {
            flex: 1;
          }
        }
      }
    }
    .size {
      flex: 0 0 60px;
      padding: 2px;
      input {
        font-size: 36px;
        flex: 1;
        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
      }
      .divider {
        position: fixed;
        width: 46px;
        height: 65px;
        margin: 12.5px 0 0 4px;
        background-color: #7a7971;
        clip-path: polygon(90% 0, 100% 0%, 10% 100%, 0% 100%);
      }
      .label {
        text-align: center;
        flex: 0 0 20px;
        line-height: 20px;
        font-size: 18px;
      }
    }
  }
  [data-application-part="body"] {
    flex: 0 0 80px;
    margin: 2px 0;
    padding: 2px 0;
    border-top: var(--knw-border);
    border-bottom: var(--knw-border);
    .attacks {
      flex: 0 0 30px;
      font-size: 36px;
    }
    .coreStat {
      padding: 2px;
      .value input,
      .label {
        font-size: 24px;
        text-align: center;
      }
      .label {
        line-height: 40px;
        border-bottom: var(--knw-border);
      }
      &:not(:last-of-type) {
        border-right: var(--knw-border);
      }
      .value {
        font-family: var(--labelFont);
      }
    }
  }
  [data-application-part="footer"] {
    flex: 1;
    .damage {
      flex: 0 0 100px;
      border-right: var(--knw-border);
      label {
        height: 100%;
        input {
          height: 90px;
          width: 94px;
          font-size: 36px;
          text-align: center;
          margin: 2px;
        }
        .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0;
        }
      }
    }
    .addOns {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 5px;
      .sheet-navigation {
        line-height: 1.5;
        a.label {
          border-bottom: 3px solid #b5b3a4;
          &.active {
            border-bottom-color: #44191a;
          }
        }
      }
      .tabs-body {
        height: calc(100% - 25px);
        .tab {
          height: 100%;
        }
        ul {
          height: calc(100% - 15px);
        }
        .traitList {
          column-width: 130px;
          cursor: pointer;
        }
        .itemList,
        .effectList {
          list-style: none;
          padding: 0;
          margin: 0;
          --control-color: #7a7971;
          .item-image,
          .effect-image {
            flex: 0 0 30px;
            height: 24px;
            background-size: cover;
            background-position: 50% 0;
            border: none;
            margin-right: 5px;
          }
          h4 {
            margin: 0;
            line-height: 24px;
            white-space: nowrap;
            overflow-x: hidden;
          }
          .item-controls,
          .effect-controls {
            flex: 0 0 60px;
            color: var(--control-color);
            line-height: 24px;
          }
          .create {
            text-align: right;
            flex-direction: row-reverse;
            .item-create,
            .effect-create {
              color: var(--control-color);
              flex: 0 0 40px;
            }
          }
        }
      }
    }
    .tier {
      flex: 0 0 100px;
      border-left: var(--knw-border);
      label {
        height: 100%;
        select {
          height: 92px;
          width: 94px;
          margin: 2px;
          border: none;
          font-size: 36px;
          text-align: center;
        }
        .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0 16px 0 0;
        }
      }
    }
  }
}
