.actor.warfare.theme-red {
  --warfare-title: sienna;
  --warfare-dark: brown;
  --warfare-light: indianRed;
  --warfare-accent: gold; }

.actor.warfare {
  --groove5e: 2px groove #eeede0; }
  .actor.warfare .label {
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: 700; }
  .actor.warfare input[type="number"] {
    font-family: "Modesto Condensed", "Palatino Linotype", serif; }
  .actor.warfare .header {
    flex: 0 0 100px; }
    .actor.warfare .header .type {
      flex: 0 0 30px;
      margin: 0 5px; }
      .actor.warfare .header .type .typeImage {
        border: none;
        margin: 40px 0; }
    .actor.warfare .header .description {
      flex: 1;
      padding: 0 3px;
      border-left: var(--groove5e);
      border-right: var(--groove5e); }
      .actor.warfare .header .description .id {
        border-bottom: var(--groove5e);
        margin-bottom: 2px;
        padding-bottom: 2px; }
        .actor.warfare .header .description .id img.profile {
          max-width: 60px;
          height: 60px;
          border: none; }
        .actor.warfare .header .description .id input {
          font-size: 32px; }
      .actor.warfare .header .description .tags .commander .label {
        flex: 0 0;
        line-height: 20px;
        padding: 0 3px;
        font-size: 18px; }
      .actor.warfare .header .description .tags .commander input {
        border-bottom: 1px solid black; }
      .actor.warfare .header .description .tags .modifiers select {
        border: none;
        flex: 0 0 80px; }
      .actor.warfare .header .description .tags .modifiers input {
        flex: 1; }
    .actor.warfare .header .size {
      flex: 0 0 60px;
      padding: 2px; }
      .actor.warfare .header .size input {
        font-size: 36px;
        flex: 1; }
        .actor.warfare .header .size input:first-of-type {
          text-align: left; }
        .actor.warfare .header .size input:last-of-type {
          text-align: right; }
      .actor.warfare .header .size .divider {
        position: fixed;
        width: 46px;
        height: 65px;
        margin: 12.5px 0 0 4px;
        background-color: #7a7971;
        clip-path: polygon(90% 0, 100% 0%, 10% 100%, 0% 100%); }
      .actor.warfare .header .size .label {
        text-align: center;
        flex: 0 0 20px;
        line-height: 20px;
        font-size: 18px; }
  .actor.warfare .statistics {
    flex: 0 0 80px;
    margin: 2px 0;
    padding: 2px 0;
    border-top: var(--groove5e);
    border-bottom: var(--groove5e); }
    .actor.warfare .statistics .attacks {
      flex: 0 0 30px;
      font-size: 36px; }
    .actor.warfare .statistics .coreStat {
      padding: 2px; }
      .actor.warfare .statistics .coreStat .value,
      .actor.warfare .statistics .coreStat .label {
        font-size: 24px;
        text-align: center; }
      .actor.warfare .statistics .coreStat .label {
        line-height: 40px;
        border-bottom: var(--groove5e); }
      .actor.warfare .statistics .coreStat:not(:last-of-type) {
        border-right: var(--groove5e); }
  .actor.warfare .footer {
    flex: 1; }
    .actor.warfare .footer .damage {
      flex: 0 0 100px;
      border-right: var(--groove5e); }
      .actor.warfare .footer .damage label {
        height: 100%; }
        .actor.warfare .footer .damage label input {
          height: 90px;
          width: 94px;
          font-size: 36px;
          text-align: center;
          margin: 2px; }
        .actor.warfare .footer .damage label .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0; }
    .actor.warfare .footer .traits {
      flex: 1;
      cursor: pointer;
      padding: 0 5px; }
    .actor.warfare .footer .tier {
      flex: 0 0 100px;
      border-left: var(--groove5e); }
      .actor.warfare .footer .tier label {
        height: 100%; }
        .actor.warfare .footer .tier label select {
          height: 92px;
          width: 94px;
          margin: 2px;
          border: none;
          font-size: 36px;
          text-align: center; }
        .actor.warfare .footer .tier label .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0 16px 0 0; }
