.actor.warfare {
  --groove5e: 2px groove #eeede0;
  --labelFont: 'Modesto Condensed', 'Palatino Linotype', serif;
  .label {
    font-family: var(--labelFont);
    font-weight: 700;
  }
  input[type='number'] {
    font-family: var(--labelFont);
  }
  .header {
    flex: 0 0 100px;
    .type {
      flex: 0 0 30px;
      margin: 0 5px;
      .typeImage {
        border: none;
        margin: 40px 0;
      }
    }
    .description {
      flex: 1;
      padding: 0 3px;
      border-left: var(--groove5e);
      border-right: var(--groove5e);
      .id {
        border-bottom: var(--groove5e);
        margin-bottom: 2px;
        padding-bottom: 2px;
        img.profile {
          max-width: 60px;
          height: 60px;
          border: none;
        }
        input {
          font-size: 32px;
          font-family: var(--labelFont);
        }
      }
      .tags {
        .commander {
          .label {
            flex: 0 0;
            line-height: 20px;
            padding: 0 3px;
            font-size: 18px;
          }
          .name {
            border-bottom: 1px solid black;
            line-height: 20px;
            padding-left: 5px;
          }
        }
        .modifiers {
          select {
            border: none;
            flex: 0 0 80px;
          }
          input {
            flex: 1;
          }
        }
      }
    }
    .size {
      flex: 0 0 60px;
      padding: 2px;
      input {
        font-size: 36px;
        flex: 1;
        &:first-of-type {
          text-align: left;
        }
        &:last-of-type {
          text-align: right;
        }
      }
      .divider {
        position: fixed;
        width: 46px;
        height: 65px;
        margin: 12.5px 0 0 4px;
        background-color: #7a7971;
        clip-path: polygon(90% 0, 100% 0%, 10% 100%, 0% 100%);
      }
      .label {
        text-align: center;
        flex: 0 0 20px;
        line-height: 20px;
        font-size: 18px;
      }
    }
  }
  .statistics {
    flex: 0 0 80px;
    margin: 2px 0;
    padding: 2px 0;
    border-top: var(--groove5e);
    border-bottom: var(--groove5e);
    .attacks {
      flex: 0 0 30px;
      font-size: 36px;
    }
    .coreStat {
      padding: 2px;
      .value,
      .label {
        font-size: 24px;
        text-align: center;
      }
      .label {
        line-height: 40px;
        border-bottom: var(--groove5e);
      }
      &:not(:last-of-type) {
        border-right: var(--groove5e);
      }
      .value {
        font-family: var(--labelFont);
      }
    }
  }
  .footer {
    flex: 1;
    .damage {
      flex: 0 0 100px;
      border-right: var(--groove5e);
      label {
        height: 100%;
        input {
          height: 90px;
          width: 94px;
          font-size: 36px;
          text-align: center;
          margin: 2px;
        }
        .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0;
        }
      }
    }
    .addOns {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 5px;
      .sheet-navigation a.label {
        border-bottom: 3px solid #b5b3a4;
        &.active {
          border-bottom-color: #44191a;
        }
      }
      .tabs-body {
        height: calc(100% - 15px);
        ul {
          height: calc(100% - 15px);
        }
        .traitList {
          column-width: 130px;
          cursor: pointer;
        }
        .itemList,
        .effectList {
          list-style: none;
          padding: 0;
          margin: 0;
          --control-color: #7a7971;
          .item-image,
          .effect-image {
            flex: 0 0 30px;
            height: 24px;
            background-size: cover;
            background-position: 50% 0;
            border: none;
            margin-right: 5px;
          }
          h4 {
            margin: 0;
            line-height: 24px;
            white-space: nowrap;
            overflow-x: hidden;
          }
          .item-controls,
          .effect-controls {
            flex: 0 0 60px;
            color: var(--control-color);
            line-height: 24px;
          }
          .create {
            text-align: right;
            flex-direction: row-reverse;
            .item-create,
            .effect-create {
              color: var(--control-color);
              flex: 0 0 40px;
            }
          }
        }
      }
    }
    .tier {
      flex: 0 0 100px;
      border-left: var(--groove5e);
      label {
        height: 100%;
        select {
          height: 92px;
          width: 94px;
          margin: 2px;
          border: none;
          font-size: 36px;
          text-align: center;
        }
        .label {
          flex: 0 0 24px;
          line-height: 24px;
          font-size: 18px;
          text-align: center;
          margin: 0 16px 0 0;
        }
      }
    }
  }
}

.dialog {
  .orgTestUseProf {
    margin-top: 14px;
  }
}
