.actor.organization {
  --groove5e: 2px groove #eeede0;
  --labelFont: "Modesto Condensed", "Palatino Linotype", serif;
  .label,
  h2,
  input[type="number"] {
    font-family: var(--labelFont);
  }
  .header {
    flex: 0 0 104px;
    padding-bottom: 2px;
    border-bottom: var(--groove5e);
    margin-bottom: 2px;
    input[type="text"] {
      font-family: var(--labelFont);
    }
    img.profile {
      flex: 0 0 100px;
      max-width: 100px;
      height: 100px;
      border: none;
    }
    .name {
      flex: 3;
      font-size: 32px;
    }
    .orgDetails {
      flex: 1;
      font-size: 24px;
    }
  }
  .body {
    flex: 0 0 250px;
    padding-top: 2px;
    --body-row-height: 50px;
    h2 {
      flex: 0 0 40px;
      border: none;
      text-align: center;
      font-size: 36px;
    }
    input[type="number"] {
      text-align: center;
      font-size: 24px;
    }
    .label {
      text-align: center;
      font-size: 28px;
      line-height: var(--body-row-height);
    }
    .skills {
      flex: 0 0 210px;
      border-right: var(--groove5e);
      div.skill:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }
      input {
        flex: 0 0 60px;
      }
      .label {
        border-left: var(--groove5e);
        &.rollable {
          cursor: pointer;
        }
      }
    }
    .powerPool {
      flex: 1;
      .powerPoolList {
        height: calc(100% - 40px - 0.5rem - 0.5em);
        padding: 0;
        li {
          padding: 0 3px;
          font-size: 16px;
          line-height: 26px;
          &:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.05);
          }
        }
        .name {
          flex: 1;
          overflow-wrap: anywhere;
        }
        .powerDie {
          flex: 0 0 27px;
          text-align: right;
          padding: 0 4px 0 2px;
          border-left: var(--groove5e);
          &.rollable {
            cursor: pointer;
          }
        }
        .edit {
          flex: 0 0 56px;
          border-left: var(--groove5e);
          a {
            padding-left: 4px;
          }
        }
      }
    }
    .defenses {
      border-left: var(--groove5e);
      flex: 0 0 320px;
      div:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }
      .label {
        border-right: var(--groove5e);
      }
      .value {
        flex: 0 0 60px;
      }
      .powerDie,
      .level {
        flex: 0 0 110px;
        height: 100%;
        border: none;
      }
      .powerDie {
        max-height: var(--body-row-height);
        padding-right: 16px;
      }
      .level {
        font-size: 20px;
        font-family: var(--labelFont);
        text-align: center;
      }
    }
  }
  .footer {
    flex: 1;
    border-top: var(--groove5e);
    .footerHeader {
      h3 {
        font-family: var(--labelFont);
        font-size: 32px;
      }
      a {
        flex: 0 0 30px;
        font-size: 30px;
      }
    }
    .powers,
    .features {
      padding: 2px 5px;
    }
    .powersList,
    .featuresList {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 2px 0;
      }
    }
    .features {
      border-left: var(--groove5e);
    }
  }
}
